<div class="container my-3">
  <div class="row-mb-5 text-center">
    <div class="col-md-12">
      <!-- Title -->
      <h1>Angular Forms Exercise with Maximillian</h1>
    </div>
  </div>

  <!-- Template Drive Column -->
  <div class="row-mt-4">
    <div class="col-xs-12 col-md-6 bg-dark text-light p-4">
      <h2 class="text-center mb-4">Template Driven Approach</h2>
      <app-td></app-td>
    </div>

    <!-- Reactive Driven Column -->
    <div class="col-xs-12 col-md-6 bg-dark text-light p-4">
      <h2 class="text-center mb-4">Reactive Driven Approach</h2>
      <app-reactive></app-reactive>
    </div>
  </div>
</div>
